<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="form-group" [formGroup]="formGroup" (ngSubmit)=onSubmit()
            autocomplete="off">
            <mat-form-field>
                <mat-label>Email Or Mobile</mat-label>
                <input type="text" matInput placeholder="Email or Mobile" formControlName="device">
                <span matPrefix *ngIf="mobile_icon">+91&nbsp;</span>
                <mat-error *ngIf="form.device.invalid || form.device.dirty || form.device.touched ">
                    {{getError('device')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="form.password.invalid"> {{getError('password')}}</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit"  [disabled]="isLoading" >Login</button>
            <mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
        </form>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <a routerLink="/auth/register">Register</a>
            <a routerLink="/auth/forget-password">Forget Password</a>
        </div>
    </mat-card>
</div>