<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30">
        <mat-toolbar color="primary">Forget Password</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="form-group" [formGroup]="formGroup"
            (ngSubmit)=onSubmit() autocomplete="off">
            <mat-form-field>
                <mat-label>Email Or Mobile</mat-label>
                <input type="text" matInput placeholder="Email or Mobile" formControlName="device">
                <span matPrefix *ngIf="mobile_icon" >+91&nbsp;</span>
                <mat-error *ngIf="form.device.invalid || form.device.dirty || form.device.touched ">
                    {{getError('device')}}
                </mat-error>

            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <a routerLink="/auth/login">Login</a>
            <a routerLink="/auth/register">Register</a>
        </div>
    </mat-card>
</div>